---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div>
    <Title>
      <h3>Esto es una prueba de el slot</h3>
    </Title>
  </div>
</Layout>
