<div class="p-10 bg-blue-700 text-white">
  <h1 class="text-xl font-bold">Proyecto Astro</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quibusdam
    labore eius qui sed impedit, quas, atque fugit, laborum provident ipsam
    ducimus veniam esse aliquam illo quo quos ipsa dignissimos!
  </p>

  <slot />
</div>
